
 *{
     margin: 0px;
     padding: 0px;
     font-family: sans-serif;
     box-sizing: border-box;
 }
/*___________________________________________pagination_____________________________________________*/
.pagina{
    min-width: 230px;
    max-width: 500px; 
    /* border: solid 1px teal; */
    text-align: center;
    margin: 5px auto;
    overflow: auto;
    
}
.pagina div{
    background-color: aquamarine;
    max-width: 500px;
    margin: 5px;
    min-height: 55px;
    border-radius: 5px; 
}
/* 
.page .list-group .list-group-item .text-info{
    max-width: 60px; 
} */


/*_________________________________________pagination table_________________________________________________________ */

.pagina-tab{
    min-width: 230px;
    max-width: 500px; 
    /* border: solid 1px teal; */
    text-align: center;
    margin: 5px auto;
    overflow: auto;
    
}
.pagina-tab table{
    /* background-color: aquamarine; */
    max-width: 500px;
    margin: 5px;
    min-height: 55px;
    border-radius: 5px;  
}

.pagina-tab table td{ 
    width: 200px;
    height: 50px;
    /* background-color: lightblue; */
    border:none ;
    border-bottom: solid 1px gray;
}
