.fa-credit-card{
    
   
}
.product-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: start;
    color: chartreuse;
    background-color: rgb(204, 120, 90);
}
 .container{
    display: flex;
    justify-content: center; 
}
.card{
    width: 320px;
    height: 400px;
    margin: 20px;
    padding: 15px;
    display: inline-block;
}
.badge-danger{
    position: absolute;
    top: 10
    px;
    height: 13px; 
    width: 15px;
}
.card img{
    height: 240px;
    width: 100%;
}