
 *{
     margin: 0px;
     padding: 0px;
     font-family: sans-serif;
     box-sizing: border-box;
 }
/*___________________________________________pagination_____________________________________________*/
.pagina{
    min-width: 230px;
    max-width: 500px; 
    /* border: solid 1px teal; */
    text-align: center;
    margin: 5px auto;
    overflow: auto;
    
}
.pagina div{
    background-color: aquamarine;
    max-width: 500px;
    margin: 5px;
    min-height: 55px;
    border-radius: 5px; 
}
/* 
.page .list-group .list-group-item .text-info{
    max-width: 60px; 
} */


/*_________________________________________pagination table_________________________________________________________ */

.pagina-tab{
    min-width: 440px;
    max-width: 1000px; 
    /* border: solid 1px teal; */
    text-align: center;
    margin: 5px auto;
    overflow: auto;
    
}
.pagina-tab table{
    /* background-color: aquamarine; */
    min-width: 360px;
    width: 98%;
    margin: 5px;
    min-height: 55px;
    border-radius: 5px;  
    border-collapse: collapse;
    
    /* border:solid 1px gray; */
    
}
.pagina-tab table tr:nth-child(even){  
    background-color: #f2f2f2; 
}
.pagina-tab table tr:hover{  
    background-color: #ddd; 
}
.pagina-tab table td{  
    padding: 5px; 
    word-break: break-all; 
    border:solid 1px #ddd; 
}
.pagina-tab table th{  
    background-color: teal;
    color: white;
    padding: 5px 0px;
    border:solid 1px #0c7474;
    font-size: 13px;
}
.pagina-tab button{
    width: 45px;
    background-color: transparent;
    color: dodgerblue; 
    border: none; 
    margin-right:2px ;
}
.pagina-tab button:hover{ 
    border: solid 1px rgb(33, 94, 134); 
    border-radius: 5px;
}
.paina-btn{
    width:40px;
    max-height:40px;
}
.selected-index{
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 2px; 
    width:25px;
    max-height:40px;
    margin-right: 1px; 
}
.unselected{
    color: teal;
    border: solid 1px rgb(99, 197, 236);
    background-color:white;
    border-radius: 2px; 
    width:25px;
    max-height:40px; 
    margin-right: 1px; 
}