.container{
    
}

.profil {
    border: solid 1px gray;
    width: 200px;
    text-align: center;
    padding:5px 5px 10px 0px;
    margin: 20px;
    border-radius: 5px;
     display: inline-block;
    
}
#btn{
    border: solid 1px rgb(38, 154, 221);
    width: 200px; 
    padding: 10px;
    margin-left: 25px; 
    border-radius: 5px;
    background-color: chartreuse;
}
#see-btn{
    color: white;
    width: 150px; 
    height: 35px;
    margin-left:0px;
    border-radius: 5px;
    background-color: rgb(62, 94, 238);
    border: solid 1px rgb(38, 154, 221);
}
.profil img{
    border-radius: 50%;
}

#user-info{
    /* background-color: violet; */
    text-align: start;
    /* border: solid 1px gray; */
    width: 300px; 
    padding:0px 5px 10px 0px;
    margin: 20px;
    border-radius: 5px;

}
#user-info td{
    /* background-color: teal; */
    border-bottom: solid 1px teal;
    padding-top: 10px;
}
.fa{
    margin:5px;
    text-decoration: none;
    color: gray;
}
.fa-whatsapp{
    color: green;
}
.fa-facebook{
    color: blue;
}
.fa-linkedin{
    color:rgb(14, 117, 158);
}
.fa-github{
    color: #112233;
}